# Dependencias
node_modules/

# Build
/dist

# Archivos de entorno
.env
.env.*

# Otros
.DS_Store
*.md

# Archivos de log
# Logs de Winston (backend)
*.log
error.log
combined.log
logs/
*.log.*

# Logs de desarrollo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*